@using WebApplication.Models
@model PerfilModel

@{
    ViewBag.Title = "Crear perfil";
}

<h2>Crear perfil</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    @Html.HiddenFor(x => x.Id);

    @Html.LabelFor(x => x.Nombre)
    @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Nombre)

    <br>

    @Html.LabelFor(x => x.Apellido)
    @Html.TextBoxFor(x => x.Apellido, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Apellido)

    <br>
    @Html.LabelFor(x => x.NombreUsuario)
    @Html.TextBoxFor(x => x.NombreUsuario, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.NombreUsuario)

    <br>
    <button type="submit">  Enviar </button>
}
